name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  release:
    types: [ published ]
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  test:
    name: Test Varnish latest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - if: github.event_name != 'release' && github.event_name != 'workflow_dispatch'
        uses: Swatinem/rust-cache@v2
      - uses: taiki-e/install-action@v2
        with: { tool: just }
      - run: just install-varnish
      - run: just ci-test-latest

  test-varnish-ver:
    name: Test Varnish ${{ matrix.ver }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        include:
          # This list must match the justfile list for supported_varnish_vers var without the latest version
          - ver: 7.7.0
          - ver: 7.6
          - ver: 7.5
          - ver: 6.0
          - ver: 6.0.14r3  # Varnish Plus
    steps:
      - uses: actions/checkout@v4
      - if: github.event_name != 'release' && github.event_name != 'workflow_dispatch'
        uses: Swatinem/rust-cache@v2
      - uses: taiki-e/install-action@v2
        with: { tool: just }
      - run: just install-varnish ${{ matrix.ver }}
      - run: just ci-test

  # This job checks if any of the previous jobs failed or were canceled.
  # This approach also allows some jobs to be skipped if they are not needed.
  ci-passed:
    needs: [ test, test-varnish-ver ]
    if: always()
    runs-on: ubuntu-latest
    steps:
      - if: ${{ contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled') }}
        run: exit 1
